<h1 mat-dialog-title>Criar um Novo  UTILIZADOR</h1>

<div mat-dialog-content>
    <form [formGroup]="formCriarAlterarUtilizador">
    
        <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input formControlName="userName"  matInput placeholder="username"> 
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password"  matInput placeholder="password" type="password"> 
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirmar Password</mat-label>
            <input formControlName="confpassword"  matInput placeholder="confirmar password" type="password"> 
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Em@il</mat-label>
            <input formControlName="email"  matInput placeholder="email" type="email"> 
        </mat-form-field>
            
        <label for=""><h3>Ativo:</h3></label>
        <mat-radio-group formControlName="ativo" >
            <mat-radio-button value="true">
                    Sim.
            </mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="false">
                Não.
            </mat-radio-button>
        </mat-radio-group>
        <label *ngIf="acao=='alterar'" for="dataCriacao" formControlName="dataCriacao">Data Criacao: </label>
        <label *ngIf="acao=='alterar'" for="dataAtualizacao" formControlName="dataAtualizacao">  -   Data Atualizacao: </label>       
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" style="margin-left: 8px;" (click)="addUtilizador()">Guardar</button>
    <button mat-raised-button color="secondary" style="margin-left: 8px;" (click)="resetFields()">Limpar</button>
    <button mat-raised-button color="warn" style="margin-left: 8px;" mat-dialog-close>Cancelar</button>
</div>


