<h1 mat-dialog-title *ngIf="acao=='criar'">CRIAR SEATING</h1>
<h1 mat-dialog-title *ngIf="acao=='editar'">EDITAR SEATING</h1>
<h1 mat-dialog-title *ngIf="acao=='ver'">DETALHES SEATING</h1>

<div mat-dialog-content>
    <form [formGroup]="formCriarAlterarSeating">
    
        <mat-form-field appearance="outline">
            <mat-label>HORA INICIO</mat-label>
            <input formControlName="horaInicio"  matInput placeholder="hora inicio" type="time"> 
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>HORA FIM</mat-label>
            <input formControlName="horaFim"  matInput placeholder="hora fim" type="time"> 
        </mat-form-field>

        <label for=""><h3>COMPLETO:</h3></label>
        <mat-radio-group formControlName="completo" >
            <mat-radio-button value="true" [checked]="ativarCS">
                    Sim.
            </mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="false" [checked]="ativarCN">
                Não.
            </mat-radio-button>
        </mat-radio-group>
        <br><br>    
        <label for=""><h3>ATIVO:</h3></label>
        <mat-radio-group formControlName="ativo" >
            <mat-radio-button value="true" [checked]="ativarS">
                    Sim.
            </mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="false" [checked]="ativarN">
                Não.
            </mat-radio-button>
        </mat-radio-group>
        <label *ngIf="acao=='alterar'" for="dataCriacao" formControlName="dataCriacao">Data Criacao: </label>
        <label *ngIf="acao=='alterar'" for="dataAtualizacao" formControlName="dataAtualizacao">  -   Data Atualizacao: </label>   

            
    </form>
</div>

<div mat-dialog-actions>
    <button *ngIf="acao=='criar'" mat-raised-button color="primary" style="margin-left: 8px;" (click)="addSeating()">Criar</button>
    <button *ngIf="acao=='editar'" mat-raised-button color="primary" style="margin-left: 8px;" (click)="editSeating()">Guardar</button>
    <button *ngIf="acao=='ver'" mat-raised-button color="primary" style="margin-left: 8px;" (click)="ativarControlos()">Editar</button>
    <button *ngIf="acao!='ver'" mat-raised-button color="secondary" style="margin-left: 8px;" (click)="resetFields()">Limpar</button>
    <button mat-raised-button color="warn" style="margin-left: 8px;" mat-dialog-close>Cancelar</button>
</div>




