.content .form-container {
    width: 100%;
    padding-left: 10px;
    padding-top: 50px;
  
  }
  
  .item{
    padding: 0px;
  }
  
  .mybutton{
    margin-right: 10px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .title h1 {
    font-size: 2rem;
    color:darkgrey;
  }
  
  .table {
    width: 100%;
  }
  
  .edit {
    color: rgb(167, 72, 5);
  }
  
  .delete {
    color: rgb(216, 53, 12);
    margin-left: 1rem;
  }
  
  .mat-header{
    width: 10rem;
  
  }
  
  .filhos {
    color: rgb(27, 23, 20);
  }
  
  .spinner{
    position: relative;
    margin-top: auto;
    margin-top: auto;
    margin-left: 45%;
    padding-top: 2%;
    padding-bottom: 10%;
  }
  